{
  "singleQuote": true,
  "printWidth": 120,
  "bracketSameLine": true,
  "arrowParens": "avoid",
  "quoteProps": "consistent",
  "htmlWhitespaceSensitivity": "ignore",
  "overrides": [
    {
      "files": ["**/*.css", "**/*.scss", "**/*.html"],
      "options": {
        "singleQuote": false
      }
    }
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
